.home {
  background-color: var(--main-color);
  margin: 0 0 0px 60px;
  padding-left: 20px;
  overflow-y: hidden;
}

.fa-slash {
  transform: rotateZ(70deg);
  margin-right: -10px;
}
.symbol {
  font-size: 24px;
  color: var(--second-color);
}

.space {
  padding: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  position: absolute;
  top: 20px;
}

.bottom {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  height: 100vh;
  font-size: 28px;
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.deks {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.contact-btn {
  outline: none;
  border: 3px solid var(--second-color);
  background: none;
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  color: var(--second-color);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease;
  padding: 5px;
}

.btn-arrow {
  display: none;
}
svg {
  display: block;
  overflow: visible;
}
.image svg {
  margin: 0 6rem;
  /* width: 100%; */
  border: 2px solid red;
  flex-shrink: 0;
  flex-grow: 0;
  transform: translateY(-100px);
  animation: bounce 1s ease-in-out infinite alternate;
}
.image .laptop {
  width: 100%;
  overflow: visible;
  /* margin-left: 3%; */
  /* transition: all 0.4s ease; */
  /* border: 1px solid red; */
}

.image .phone {
  width: 60%;
  overflow: visible;
  /* margin-left: 20%;
  margin-right: 30%; */
  /* border: 1px solid red; */
}

.image .tablet {
  width: 70%;
  /* border: 1px solid red; */
  /* margin-left: 20%;
  margin-right: 0%; */
}
.img-con {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  border: 1px solid black;
  width: 40%;
  margin-right: 5rem;
}
.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin-bottom: 5rem;
  transform: translate(0px) translateY(-100px);

  /* border: 5px solid black; */
}

/* .image img:hover {
  transform: rotateZ(10deg);
} */

#kanan,
#kiri {
  animation: box 3s ease-in-out infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}

.contact-btn:hover {
  color: var(--main-color);
  background-color: var(--second-color);
  width: 200px;
}

.contact-btn:hover .btn-arrow {
  display: block;
}

.typing::after {
  content: "";
  border-right: 2px solid black;
  margin-left: 3px;
  animation: blink 0.4s infinite ease;
}

span.hov {
  width: auto;
  transition: all 0.4s ease;
  display: inline-block;
}

span.hov:hover {
  transform: rotateZ(-10deg) scale(1.2);
}

@keyframes box {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
