.space {
  padding: 5px;
}
.skills {
  background-color: var(--main-color);
  position: relative;
  padding-left: 20px;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  height: 100vh;
  font-size: 2vw;
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  /* border: 1px solid red; */
  width: 40%;
}
.text p {
  font-size: 1.2vw;
  margin: 0.5rem 0;
}

span.hov {
  width: auto;
  transition: all 0.4s ease;
  display: inline-block;
}

span.hov:hover {
  transform: scaleY(1.5);
  /* color: #6c63ff; */
}

.illus {
  width: 40%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.illus .front__end,
.illus .back__end {
  height: 35%;
  min-width: 30%;
  border: 4px solid var(--second-color);
  border-top: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5px 3px;
  justify-content: flex-end;
  border-radius: 5px 5px 10px 10px;
}

.illus .front__end div,
.illus .back__end div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  flex-wrap: wrap;
  height: 15%;
  width: 100%;
  cursor: pointer;
  background: var(--second-color);
  color: var(--main-color);
  margin: 1.5px 0;
  font-family: "Montserrat", sans-serif;
  transform: translateY(-1500%) scale(1);
  opacity: 0;
  transform-origin: center center;
  transform-box: fill;
  animation-name: stackY;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.illus .front__end div:nth-child(1) {
  animation-delay: 2s;
}
.illus .front__end div:nth-child(2) {
  animation-delay: 1.5s;
}

.illus .front__end div:nth-child(3) {
  animation-delay: 1s;
}
.illus .front__end div:nth-child(4) {
  animation-delay: 0.5s;
}
.illus .front__end div:nth-child(5) {
  animation-delay: 0ms;
  border-radius: 0 0 5px 5px;
}

.illus .back__end div:nth-child(1) {
  animation-delay: 1s;
}
.illus .back__end div:nth-child(2) {
  animation-delay: 0.5s;
}

.illus .back__end div:nth-child(3) {
  animation-delay: 0ms;
  border-radius: 0 0 5px 5px;
}

.illus .front__end::after,
.illus .back__end::after {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
}

.illus .front__end::after {
  content: "Front End";
}

.illus .back__end::after {
  content: "Back End";
}

@keyframes stackY {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-750%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stackX {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(500%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .text {
    width: 70%;
    font-size: 1.2rem;
  }
  .text p {
    font-size: 1rem;
  }

  .illus .front__end > div span,
  .illus .back__end > div span {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .text {
    width: 80%;
  }
  .skills {
    flex-direction: column;
  }
  .illus {
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    display: none;
  }
  .illus .front__end,
  .illus .back__end {
    height: 20%;
    width: 100%;
    flex-direction: row-reverse;
    margin: 2rem 0;
    border-top: 4px solid var(--second-color);
    border-right: none;
  }
  .illus .front__end::after,
  .illus .back__end::after {
    bottom: -100%;
  }
  .illus .front__end > div,
  .illus .back__end > div {
    transform: translateY(0) translateX(1000%);
    animation-name: stackX;
    margin: 1.5px 1.5px;
    width: 5rem;
  }
}
